/* profile screen - Kailin*/
#banner {
    margin: 0 auto;
    border-bottom: 1px solid lightgrey;
    background-image: url(../../../public/images/profile_bg2.jpg);
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 10px;
}

#banner img {
    width: 120px;
    border-radius: 60px;
    margin-left: 60px;
}

.highlight-text {
    font-weight: bold
}

#editBtn {
    background-color: #FF9900;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 5px;
    margin-right: 10px;
    float: right;
}

#infoSection {
    margin-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#infoSection i {
    padding-right: 20px;
}

#BuyerSummarySection {
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 20px;
}

#BuyerSummarySection div {
    margin-top: 10px;
    color: #916b44;
    font-weight: bold;
    font-size: 20px;
    padding-left: 60px;
    background-color: antiquewhite;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #916b44;
}

#OrderHistory {
    border-right: 1px solid #916b44;

}

#BuyerSummarySection i {
    padding-right: 20px;
}


#RecentOrderSection {
    margin-top: 20px;
}

/* buyer-edit */
#editSection {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
}

#editSection input {
    margin-bottom: 20px;
}

#editSection label {
    font-weight: bold;
}

#saveBtn {
    background-color: #916b44;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 5px;
    float: right;
}

#discardBtn {
    background-color: #FF9900;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 5px;
    float: left;
}


/* product screen */
.productImg {
    height: 100%;
    width: 100%;
}


.productDescription {
    font-size: 20px;
}

.productPrice {
    padding-top: 10px;
    color: #bc2848;
    font-weight: bold;
    font-size: 30px;
}

.hint-text {
    padding-top: 20px;
    font-weight: bold;
    color: #916b44;
}

.favBtn {
    background-color: #ef6c00;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 5px;
    border: 1px solid;

}

.dropdown {
    width: 10%;
    height: 40px;
    border-radius: 20px;
    padding-left: 10px;
    font-weight: bold;
}

.dropdownHint {
    font-weight: bold;
    color: #bc2848;
}

.cartBtn {
    background-color: #916b44;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 5px;
    border: 1px solid;
    }

/* profile screen - Fifi*/
#allBtn-color{
    background-color: #FF9900;
    color: white;
    font-weight: bold;
}

#menuBtn{
    background-color: #FF9900;
    color: white;
    font-weight: bold;
    margin-top: 5px;
}